{% extends 'base.html' %}

{% block content %}
<section>
    <div class="container-fluid">
        <div class="row">          
            </div>
            <div class="col-sm-2 col-2">
                <div class="form-group">
                    <label for="service_type">Type of Service</label>
                    <select class="form-control" id="service_type">
                        <option value="pruning">Tree Pruning</option>
                        <option value="tree_removal">Tree Removal</option>
                        <option value="planting">Tree Planting</option>
                        <option value="pesticide_app">Pesticide Applications</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-2 col-2">
                <div class="form-group">
                    <label for="city">City</label>
                    <select class="form-control" id="city">
                        <option value="denver">Denver</option>
                        <option value="springs">CO Springs</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-2 col-2">
                <div class="form-group">
                    <label for="state">State</label>
                    <select class="form-control" id="state">
                        <option value="colorado">Colorado</option>
                        <option value="texas">Texas</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-2 col-2">
                <div class="form-group">
                    <label for="reviews">Arborist Reviews</label>
                    <select class="form-control" id="reviews">
                        <option value="1" start=1 end=2>1 star</option>
                        <option value="2" start=2 end=3>2 stars</option>
                        <option value="3" start=3 end=4>3 stars</option>
                        <option value="4" start=4 end=5>4 stars</option>
                        <option value="5" start=5 end=5>5 stars</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-2 col-2">
                <div class="form-group">
                    <label for="years_experience">Years of Professional Experience</label>
                    <select class="form-control" id="years_experience">
                        <option value="1" start=1 end=3>1-3 years</option>
                        <option value="3" start=3 end=5>3-5 years</option>
                        <option value="5" start=5 end=8>5-8 years</option>
                        <option value="8" start=8 end=10>8-10 years</option>
                        <option value="10" start=10 end=15>10-15 years</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-2 col-2">
                <div class="form-group">
                    <label for="price">Price range for Arborist Service</label>
                    <select class="form-control" id="price">
                        <option value="250" start=250 end=500>$250-500</option>
                        <option value="500" start=500 end=1500>$500-1500</option>
                        <option value="1500" start=1500 end=2000>$1500-2000</option>
                        <option value="2500" start=2500 end=3000>$2500-3000</option>
                        <option value="3000" start=3000 end=5000>$3000-5000</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row justify-content-center table-responsive">
            <div id="result-count" class="text-right">Page:
                <span class='font-weight-bold'></span>
            </div>

            <table class="table table-light table-bordered table-hover" id="hero_table" data-toggle="table">
                <thead class="thead-dark">
                    <tr>
                        
                        <th data-field="city">City</th>
                        <th data-field="state">State</th>
                        <th data-field="service_type">Type of Service</th>
                        <th data-field="reviews">Arborist Review</th>
                        <th data-field="years_experience">Years of Experience</th>
                        <th data-field="price">Price Range of Service</th>
                    </tr>
                </thead>
                <tbody id="table_body">
                </tbody>
            </table>
        </div>
        <div class="row justify-content-center">
            <nav aria-label="navigation">
                <ul class="pagination">
                    <li class="page-item">
                        <button class="btn btn-primary page-link" id="previous">Previous</button>
                    </li>
                    <li class="page-item pull-right">
                        <button class="btn btn-primary page-link" id="next">Next</button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>
{% endblock content %}

