{% load static %} 
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta property="og:locale" content="en=US" />
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title> Welcome to Arborhub</title>
        <link rel="stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        {% block style %}
        {% endblock %}
        {% if user.is_authenticated and user.is_company %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/company.css' %}">
        {% else %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/homeowner.css' %}">
        {% endif %}
    </head>

    <body>
        {% block content %}
        {% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        {% block javascript %}
        {% endblock javascript %}
        
    </body>

</html>

