
-- PostgreSQL database dump
--

-- Dumped from database version 16.4
-- Dumped by pg_dump version 16.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: arborfindr_arborist; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.arborfindr_arborist (
    id bigint NOT NULL,
    arborist_city character varying(30) NOT NULL,
    arborist_state character varying(30) NOT NULL,
    years_experience character varying(30) NOT NULL,
    price integer
);


ALTER TABLE public.arborfindr_arborist OWNER TO postgres;

--
-- Name: arborfindr_arborist_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.arborfindr_arborist ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.arborfindr_arborist_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: arborfindr_arboristcompany; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.arborfindr_arboristcompany (
    id bigint NOT NULL,
    company_name character varying(40) NOT NULL,
    company_logo character varying(100) NOT NULL,
    arborist_id bigint NOT NULL,
    user_id bigint,
    company_city character varying(70) NOT NULL,
    company_price integer,
    company_state character varying(40) NOT NULL,
    experience character varying(50) NOT NULL
);


ALTER TABLE public.arborfindr_arboristcompany OWNER TO postgres;

--
-- Name: arborfindr_arboristcompany_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.arborfindr_arboristcompany ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.arborfindr_arboristcompany_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: arborfindr_arboristreview; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.arborfindr_arboristreview (
    id bigint NOT NULL,
    one_star integer,
    two_stars integer,
    three_stars integer,
    four_stars integer,
    five_stars integer,
    review_by_homeowner character varying(300) NOT NULL,
    arborist_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.arborfindr_arboristreview OWNER TO postgres;

--
-- Name: arborfindr_arboristreview_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.arborfindr_arboristreview ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.arborfindr_arboristreview_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: arborfindr_homeowner; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.arborfindr_homeowner (
    id bigint NOT NULL,
    first_name character varying(30) NOT NULL,
    last_name character varying(30) NOT NULL,
    street_address character varying(60) NOT NULL,
    city character varying(30) NOT NULL,
    state character varying(30) NOT NULL,
    zip_code integer NOT NULL,
    profile_pic character varying(100) NOT NULL,
    bio character varying(100) NOT NULL,
    CONSTRAINT arborfindr_homeowner_zip_code_check CHECK ((zip_code >= 0))
);


ALTER TABLE public.arborfindr_homeowner OWNER TO postgres;

--
-- Name: arborfindr_homeowner_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.arborfindr_homeowner ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.arborfindr_homeowner_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: arborfindr_homeowneruser; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.arborfindr_homeowneruser (
    id bigint NOT NULL,
    bio character varying(100) NOT NULL,
    profile_pic character varying(100) NOT NULL,
    homeowner_id bigint NOT NULL,
    user_id bigint
);


ALTER TABLE public.arborfindr_homeowneruser OWNER TO postgres;

--
-- Name: arborfindr_homeowneruser_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.arborfindr_homeowneruser ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.arborfindr_homeowneruser_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: arborfindr_servicestype; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.arborfindr_servicestype (
    id bigint NOT NULL,
    tree_pruning character varying(80) NOT NULL,
    tree_removal character varying(80) NOT NULL,
    tree_planting character varying(80) NOT NULL,
    pesticide_applications character varying(80) NOT NULL,
    soil_management character varying(80) NOT NULL,
    tree_protection character varying(80) NOT NULL,
    tree_risk_management character varying(80) NOT NULL,
    tree_biology character varying(80) NOT NULL,
    arborist_id bigint NOT NULL
);


ALTER TABLE public.arborfindr_servicestype OWNER TO postgres;

--
-- Name: arborfindr_servicestype_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.arborfindr_servicestype ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.arborfindr_servicestype_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: arborfindr_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.arborfindr_user (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    email character varying(254) NOT NULL,
    role character varying(15) NOT NULL
);


ALTER TABLE public.arborfindr_user OWNER TO postgres;

--
-- Name: arborfindr_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.arborfindr_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.arborfindr_user_groups OWNER TO postgres;

--
-- Name: arborfindr_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.arborfindr_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.arborfindr_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: arborfindr_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.arborfindr_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.arborfindr_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: arborfindr_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.arborfindr_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.arborfindr_user_user_permissions OWNER TO postgres;

--
-- Name: arborfindr_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.arborfindr_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.arborfindr_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Data for Name: arborfindr_arborist; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.arborfindr_arborist (id, arborist_city, arborist_state, years_experience, price) FROM stdin;
1	Houston	TX	4	700
2	Phoenix	AZ	6	1200
3	Los Angeles	CA	10	1500
4	Tallahassee	FL	4	600
\.


--
-- Data for Name: arborfindr_arboristcompany; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.arborfindr_arboristcompany (id, company_name, company_logo, arborist_id, user_id, company_city, company_price, company_state, experience) FROM stdin;
4	Tree Rootz Co.		12	12	Denver	1000	CO	4 years
3	Arbor Sol LLC		11	11	Tucson	1350	AZ	10 years
2	Arbor Freight Co.		10	10	Dallas	500	TX	1 year
1	Arbornot Co		9	9	Miami	650	FL	3 years
\.


--
-- Data for Name: arborfindr_arboristreview; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.arborfindr_arboristreview (id, one_star, two_stars, three_stars, four_stars, five_stars, review_by_homeowner, arborist_id, user_id) FROM stdin;
4	0	0	0	4	0	He was very friendly	4	4
3	3	1	2	2	5	He was on time	3	3
2	0	0	0	0	0	He did a great job	2	2
1	4	5	3	2	1	He was swift	1	5
\.


--
-- Data for Name: arborfindr_homeowner; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: arborfindr_homeowneruser; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.arborfindr_homeowneruser (id, bio, profile_pic, homeowner_id, user_id) FROM stdin;
\.


--
-- Data for Name: arborfindr_servicestype; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: arborfindr_user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: arborfindr_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.arborfindr_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: arborfindr_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.arborfindr_user_user_permissions (id, user_id, permission_id) FROM stdin;
1	9	2
\.


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	contenttypes	contenttype
5	sessions	session
6	arborfindr	user
7	arborfindr	arborist
8	arborfindr	homeowner
9	arborfindr	servicestype
10	arborfindr	homeowneruser
11	arborfindr	arboristreview
12	arborfindr	arboristcompany
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
jl1m766x6e8hq24mn279rpnvf0om2m86	.eJxVjMsOwiAURP-FtSGlPK9L934DAe5FqgaS0q6M_64kXehy5pyZF_Nh34rfO61-QXZmgp1-uxjSg-oAeA_11nhqdVuXyIfCD9r5tSE9L4f7d1BCL2NNyVoVMwQAASJbBzFmMRlQagpupqRclkaA1JYkfQMpQq3JzEgWLXt_AOdUOAQ:1t2guE:OQ4QargEmdgMlhe561MtnVl62ozD6nzM4zEiRTcXNKY	2024-11-03 18:08:22.012692-07
\.


--
-- Name: arborfindr_arborist_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.arborfindr_arborist_id_seq', 4, true);


--
-- Name: arborfindr_arboristcompany_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.arborfindr_arboristcompany_id_seq', 4, true);


--
-- Name: arborfindr_arboristreview_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.arborfindr_arboristreview_id_seq', 4, true);


--
-- Name: arborfindr_homeowner_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.arborfindr_homeowner_id_seq', 5, true);


--
-- Name: arborfindr_homeowneruser_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.arborfindr_homeowneruser_id_seq', 1, false);


--
-- Name: arborfindr_servicestype_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.arborfindr_servicestype_id_seq', 4, true);


--
-- Name: arborfindr_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.arborfindr_user_groups_id_seq', 1, false);


--
-- Name: arborfindr_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.arborfindr_user_id_seq', 13, true);


--
-- Name: arborfindr_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.arborfindr_user_user_permissions_id_seq', 1, true);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 48, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 45, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 12, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 20, true);


--
-- Name: arborfindr_arborist arborfindr_arborist_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.arborfindr_arborist
    ADD CONSTRAINT arborfindr_arborist_pkey PRIMARY KEY (id);


--
-- Name: arborfindr_arboristcompany arborfindr_arboristcompany_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.arborfindr_arboristcompany
    ADD CONSTRAINT arborfindr_arboristcompany_pkey PRIMARY KEY (id);


--
-- Name: arborfindr_arboristcompany arborfindr_arboristcompany_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.arborfindr_arboristcompany
    ADD CONSTRAINT arborfindr_arboristcompany_user_id_key UNIQUE (user_id);


--
-- Name: arborfindr_arboristreview arborfindr_arboristreview_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.arborfindr_arboristreview
    ADD CONSTRAINT arborfindr_arboristreview_pkey PRIMARY KEY (id);


--
-- Name: arborfindr_homeowner arborfindr_homeowner_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.arborfindr_homeowner
    ADD CONSTRAINT arborfindr_homeowner_pkey PRIMARY KEY (id);


--
-- Name: arborfindr_homeowneruser arborfindr_homeowneruser_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.arborfindr_homeowneruser
    ADD CONSTRAINT arborfindr_homeowneruser_pkey PRIMARY KEY (id);


--
-- Name: arborfindr_homeowneruser arborfindr_homeowneruser_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.arborfindr_homeowneruser
    ADD CONSTRAINT arborfindr_homeowneruser_user_id_key UNIQUE (user_id);


--
-- Name: arborfindr_servicestype arborfindr_servicestype_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.arborfindr_servicestype
    ADD CONSTRAINT arborfindr_servicestype_pkey PRIMARY KEY (id);


--
-- Name: arborfindr_user arborfindr_user_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.arborfindr_user
    ADD CONSTRAINT arborfindr_user_email_key UNIQUE (email);


--
-- Name: arborfindr_user_groups arborfindr_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.arborfindr_user_groups
    ADD CONSTRAINT arborfindr_user_groups_pkey PRIMARY KEY (id);


--
-- Name: arborfindr_user_groups arborfindr_user_groups_user_id_group_id_33ecbd86_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.arborfindr_user_groups
    ADD CONSTRAINT arborfindr_user_groups_user_id_group_id_33ecbd86_uniq UNIQUE (user_id, group_id);


--
-- Name: arborfindr_user arborfindr_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.arborfindr_user
    ADD CONSTRAINT arborfindr_user_pkey PRIMARY KEY (id);


--
-- Name: arborfindr_user_user_permissions arborfindr_user_user_per_user_id_permission_id_8e84c17c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.arborfindr_user_user_permissions
    ADD CONSTRAINT arborfindr_user_user_per_user_id_permission_id_8e84c17c_uniq UNIQUE (user_id, permission_id);


--
-- Name: arborfindr_user_user_permissions arborfindr_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.arborfindr_user_user_permissions
    ADD CONSTRAINT arborfindr_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: arborfindr_user arborfindr_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.arborfindr_user
    ADD CONSTRAINT arborfindr_user_username_key UNIQUE (username);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: arborfindr_arboristcompany_arborist_id_6a0c3471; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX arborfindr_arboristcompany_arborist_id_6a0c3471 ON public.arborfindr_arboristcompany USING btree (arborist_id);


--
-- Name: arborfindr_arboristreview_arborist_id_5dc0d112; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX arborfindr_arboristreview_arborist_id_5dc0d112 ON public.arborfindr_arboristreview USING btree (arborist_id);


--
-- Name: arborfindr_arboristreview_user_id_d323c3a1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX arborfindr_arboristreview_user_id_d323c3a1 ON public.arborfindr_arboristreview USING btree (user_id);


--
-- Name: arborfindr_homeowneruser_homeowner_id_f12ca40c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX arborfindr_homeowneruser_homeowner_id_f12ca40c ON public.arborfindr_homeowneruser USING btree (homeowner_id);


--
-- Name: arborfindr_servicestype_arborist_id_14374205; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX arborfindr_servicestype_arborist_id_14374205 ON public.arborfindr_servicestype USING btree (arborist_id);


--
-- Name: arborfindr_user_email_67322124_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX arborfindr_user_email_67322124_like ON public.arborfindr_user USING btree (email varchar_pattern_ops);


--
-- Name: arborfindr_user_groups_group_id_12cc7930; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX arborfindr_user_groups_group_id_12cc7930 ON public.arborfindr_user_groups USING btree (group_id);


--
-- Name: arborfindr_user_groups_user_id_6a76d7bc; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX arborfindr_user_groups_user_id_6a76d7bc ON public.arborfindr_user_groups USING btree (user_id);


--
-- Name: arborfindr_user_user_permissions_permission_id_359ecb1a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX arborfindr_user_user_permissions_permission_id_359ecb1a ON public.arborfindr_user_user_permissions USING btree (permission_id);


--
-- Name: arborfindr_user_user_permissions_user_id_5c716bc3; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX arborfindr_user_user_permissions_user_id_5c716bc3 ON public.arborfindr_user_user_permissions USING btree (user_id);


--
-- Name: arborfindr_user_username_afafdcb4_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX arborfindr_user_username_afafdcb4_like ON public.arborfindr_user USING btree (username varchar_pattern_ops);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: arborfindr_arboristcompany arborfindr_arboristc_arborist_id_6a0c3471_fk_arborfind; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.arborfindr_arboristcompany
    ADD CONSTRAINT arborfindr_arboristc_arborist_id_6a0c3471_fk_arborfind FOREIGN KEY (arborist_id) REFERENCES public.arborfindr_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: arborfindr_arboristcompany arborfindr_arboristc_user_id_c0b7fbce_fk_arborfind; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.arborfindr_arboristcompany
    ADD CONSTRAINT arborfindr_arboristc_user_id_c0b7fbce_fk_arborfind FOREIGN KEY (user_id) REFERENCES public.arborfindr_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: arborfindr_arboristreview arborfindr_arboristr_arborist_id_5dc0d112_fk_arborfind; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.arborfindr_arboristreview
    ADD CONSTRAINT arborfindr_arboristr_arborist_id_5dc0d112_fk_arborfind FOREIGN KEY (arborist_id) REFERENCES public.arborfindr_arborist(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: arborfindr_arboristreview arborfindr_arboristr_user_id_d323c3a1_fk_arborfind; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.arborfindr_arboristreview
    ADD CONSTRAINT arborfindr_arboristr_user_id_d323c3a1_fk_arborfind FOREIGN KEY (user_id) REFERENCES public.arborfindr_homeowner(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: arborfindr_homeowneruser arborfindr_homeowner_homeowner_id_f12ca40c_fk_arborfind; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.arborfindr_homeowneruser
    ADD CONSTRAINT arborfindr_homeowner_homeowner_id_f12ca40c_fk_arborfind FOREIGN KEY (homeowner_id) REFERENCES public.arborfindr_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: arborfindr_homeowneruser arborfindr_homeowneruser_user_id_7b38a78a_fk_arborfindr_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.arborfindr_homeowneruser
    ADD CONSTRAINT arborfindr_homeowneruser_user_id_7b38a78a_fk_arborfindr_user_id FOREIGN KEY (user_id) REFERENCES public.arborfindr_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: arborfindr_servicestype arborfindr_servicest_arborist_id_14374205_fk_arborfind; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.arborfindr_servicestype
    ADD CONSTRAINT arborfindr_servicest_arborist_id_14374205_fk_arborfind FOREIGN KEY (arborist_id) REFERENCES public.arborfindr_arborist(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: arborfindr_user_groups arborfindr_user_groups_group_id_12cc7930_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.arborfindr_user_groups
    ADD CONSTRAINT arborfindr_user_groups_group_id_12cc7930_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: arborfindr_user_groups arborfindr_user_groups_user_id_6a76d7bc_fk_arborfindr_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.arborfindr_user_groups
    ADD CONSTRAINT arborfindr_user_groups_user_id_6a76d7bc_fk_arborfindr_user_id FOREIGN KEY (user_id) REFERENCES public.arborfindr_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: arborfindr_user_user_permissions arborfindr_user_user_permission_id_359ecb1a_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.arborfindr_user_user_permissions
    ADD CONSTRAINT arborfindr_user_user_permission_id_359ecb1a_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: arborfindr_user_user_permissions arborfindr_user_user_user_id_5c716bc3_fk_arborfind; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.arborfindr_user_user_permissions
    ADD CONSTRAINT arborfindr_user_user_user_id_5c716bc3_fk_arborfind FOREIGN KEY (user_id) REFERENCES public.arborfindr_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_arborfindr_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_arborfindr_user_id FOREIGN KEY (user_id) REFERENCES public.arborfindr_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

