{% block head %}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

{% endblock %}
{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Home Page</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><input type="submit" class="btn btn-primary" value="Find an Arborist"> </li>
            </ul>
        </div>
    </div>
</nav>
 {% endblock %}

 {% block content %}
 <div class="container-fluid bg-3 text-center">
    <form method="get" action="." class="form" role="form">
            {{ form.non_field_errors }}
            <div class="form-group">
                    {{ form.as_p }}
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Search">
            </div>

            {% if query %}
                <h3>Search Results</h3>

            <div class="container-fluid bg-4 text-left">
                    <div class="row">

                        {% for result in page.object_list %}

                    <div class="col-sm-4">
                        <div class="thumbnail">
                                <p>Arborist city : {{result.company_city}}</p>
                                <p> Price : {{result.company_price}}</p>
                                <p> Company : {{result.company}}</p>
                                <p> One star : {{result.one_star}}</p>
                                <p> Two star : {{result.two_stars}}</p>
                                <p> Three stars : {{result.three_stars}}</p>
                                <p>  Four stars : {{result.four_stars}}</p>
                                <p> Five stars : {{result.five_stars}}</p>
                                <p> Homeowner review : {{result.review_by_homeowner}}</p>
                                <p> Tree pruning : {{result.review_by_homeowner}}</p>
                                <p> Tree removal : {{result.tree_removal}}</p>
                                <p> Tree planting : {{result.tree_planting}}</p>
                                <p> Pesticide applications : {{result.pesticide_applications}}</p>
                                <p> Soil management : {{result.soil_management}}</p>
                                <p> Tree protection : {{result.tree_protection}}</p>
                                <p> Tree risk management : {{result.tree_risk_management}}</p>
                                <p> Tree biology : {{result.tree_biology}}</p>
                        </div>
                    </div>
                    {% empty %}

                        <p style="text-align:center">No results found.</p>
                        {% endfor %}
                </div>
            </div>

            {% endif %}
    </form>
 </div>

 {% endblock %}
